go 1.25.4

use (
	./core
	./examples/go-zero/go-zero-example
	./examples/hertz/hertz-example
	./examples/iris/iris-example
	./examples/kratos/kratos-example
	./examples/multi-certification
	./integrations/chi
	./integrations/echo
	./integrations/fiber
	./integrations/gf
	./integrations/gin
	./integrations/go-zero
	./integrations/hertz
	./integrations/iris
	./integrations/kratos
	./plugins/sso
	./storage/memory
	./storage/redis
	./stputil
)
