go 1.25.0

use (
	./com/codec/base64
	./com/codec/json
	./com/codec/jsonv2
	./com/codec/msgpack

	./com/generator/sgenerator
	./com/log/slog
	./com/log/gf
	./com/log/nop

	./com/pool/ants

	./com/storage/memory
	./com/storage/redis

	./core
	./stputil

	./examples/chi
	./examples/echo
	./examples/fiber
	./examples/gf
	./examples/gin
	./examples/hertz
	./examples/kratos
	./examples/quick_start

	./integrations/chi
	./integrations/fiber
	./integrations/echo
	./integrations/gf
	./integrations/gin
	./integrations/hertz
	./integrations/kratos
)
