go 1.25.4

use (
	./core
	./examples/fiberv3/fiberv3-example
	./examples/go-zero/go-zero-example
	./examples/hertz/hertz-example
	./examples/iris/iris-example
	./examples/kratos/kratos-example
	./examples/multi-certification
	./integrations/chi
	./integrations/echo
	./integrations/fiber
	./integrations/fiberv3
	./integrations/gf
	./integrations/gin
	./integrations/go-zero
	./integrations/hertz
	./integrations/iris
	./integrations/kratos
	./plugins/sso
	./storage/memory
	./storage/redis
	./stputil
)

replace (
	github.com/sa-tokens/sa-token-go/core v0.2.4 => ./core
	github.com/sa-tokens/sa-token-go/examples/fiberv3-example v0.2.4 => ./examples/fiberv3/fiberv3-example
	github.com/sa-tokens/sa-token-go/examples/go-zero/go-zero-example v0.2.4 => ./examples/go-zero/go-zero-example
	github.com/sa-tokens/sa-token-go/examples/hertz/hertz-example v0.2.4 => ./examples/hertz/hertz-example
	github.com/sa-tokens/sa-token-go/examples/iris/iris-example v0.2.4 => ./examples/iris/iris-example
	github.com/sa-tokens/sa-token-go/examples/kratos/kratos-example v0.2.4 => ./examples/kratos/kratos-example
	github.com/sa-tokens/sa-token-go/examples/multi-certification v0.2.4 => ./examples/multi-certification
	github.com/sa-tokens/sa-token-go/integrations/chi v0.2.4 => ./integrations/chi
	github.com/sa-tokens/sa-token-go/integrations/echo v0.2.4 => ./integrations/echo
	github.com/sa-tokens/sa-token-go/integrations/fiber v0.2.4 => ./integrations/fiber
	github.com/sa-tokens/sa-token-go/integrations/fiberv3 v0.2.4 => ./integrations/fiberv3
	github.com/sa-tokens/sa-token-go/integrations/gf v0.2.4 => ./integrations/gf
	github.com/sa-tokens/sa-token-go/integrations/gin v0.2.4 => ./integrations/gin
	github.com/sa-tokens/sa-token-go/integrations/go-zero v0.2.4 => ./integrations/go-zero
	github.com/sa-tokens/sa-token-go/integrations/hertz v0.2.4 => ./integrations/hertz
	github.com/sa-tokens/sa-token-go/integrations/iris v0.2.4 => ./integrations/iris
	github.com/sa-tokens/sa-token-go/integrations/kratos v0.2.4 => ./integrations/kratos
	github.com/sa-tokens/sa-token-go/plugins/sso v0.2.4 => ./plugins/sso
	github.com/sa-tokens/sa-token-go/storage/memory v0.2.4 => ./storage/memory
	github.com/sa-tokens/sa-token-go/storage/redis v0.2.4 => ./storage/redis
	github.com/sa-tokens/sa-token-go/stputil v0.2.4 => ./stputil
)

